.custom-swal {
  width: 400px !important; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

.custom-swal-title {
  font-size: 18px; /* Adjust the font size of the title if needed */
}

.custom-swal-text {
  font-size: 14px; /* Adjust the font size of the text if needed */
}
